.about-icons{
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    background: rgba(220, 219, 219, 0.4);
}
.ai i{
    font-size: 45px;
    padding: 20px 0;
    color: rgb(6, 198, 163);
}
.ai h2{
    font-size: 27px;
    padding: 5px 0;
}
.ai p{
    font-size: 18px;
    padding: 10px 0;
}
