.form-container{
    margin: 4rem 6rem;
    color: #2a2a2a;
    display: flex;
}
.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;
    flex: 1 1 450px;
}
.form-container form input{
    height: 3.5rem;
    font-size: 20px;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    border: none;
    background: rgba(0, 118, 90, 0.2);
    color: white;
}
.form-container textarea{
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    font-size: 20px;
    border: none;
    background: rgba(0, 118, 90, 0.2);
    color: white;
}
.form-container button{
    display: inline;
    padding: 15px 0;
    font-size: 20px;
}

@media screen and (max-width: 868px) {
    .form-container{
        margin: 4rem 2rem;
    }
    .form-container form{
        padding-top: 2rem;
        width: 90%;
    }
}