.footer{
    padding: 4rem 6rem;
    background-color: #111;
    color: #fff;
}
.footer .top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top h1{
    font-size: 2rem;
    font-family: 'Pattaya', sans-serif;
}
.top i{
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
    transform: 0.4s ease;
}
.top i:hover{
    color: aquamarine;
}

.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}    
.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h4{
    font-size: 1.4rem;
    font-family: 'Pattaya', sans-serif;
    padding: 1rem 0 0.8rem 0;
}
.bottom a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
    transform: 0.4s ease;
}
.bottom a:hover{
    color: aquamarine;
}

@media screen and (max-width: 868px){
    .footer{
        padding: 4rem 2rem;

    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}