.gallery{
    padding: 2.3rem 1rem;
    display: flex;
    gap: 15px;
}
.g-head{
    text-align: center;
    font-size: 25px;
}
.g-img{
    width: auto!important;
    border: 3px solid rgb(0, 50, 34);
    border-radius: 8px;
    overflow: hidden;
}
.g-img:nth-child(1){
    transform: translateX(32px);
}
.g-img:nth-child(2){
    transform: translateY(32px);
}
.g-img:nth-child(3){
    transform: translateX(-32px);
}
.g-img img{
    width: 100%; height: 100%;
    object-fit: cover;
}