*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: 0.4s ease;
}
.hero2{
    background-image: url(../../images/Hero2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;
}
.hero2::after,
.hero2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.hero2 h1{
    padding: 1.4rem;
    font-size: 2rem;
}
.hero2 p{
    padding: 1.2rem;
    font-size: 1.3rem;
}
.hero2 button{
    border: none;
    padding: 17px 50px;
    font-size: 1.2rem;
    background: black;
    color: white;
    margin: 16px;
    border-radius: 6px;
}
.hero2 button:hover{
    background: aquamarine;
    color: black;
}