.d-search{
    padding: 1.5rem 3rem;
    background-color: rgb(33, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.d-search input{
    padding: 14px 60px;
    border: 0.5px solid grey;
    font-size: 18px;
    margin: 6px 0;
}
.d-search .s-btn{
    padding: 18px 30px;
    margin: 5px 12px;
    display: block !important;
    border-radius: 4px;
}
@media (max-width:1220px) {
    .d-search{
        flex-direction: column;
    }
}